*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

/* PADRE */
.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 30px; /*Espacio entre objetos*/


    width: 600px;
    height: 600px;
    background-color: blueviolet;
    border: 3px solid black;
    margin: 40px auto;/* 40px == distancia en Y y auto == disnatcia en X. El auto lo centra*/

}

/* Hijos */
.ball{
    /* width: 100px; */
    width: 100px;
    height: 100px;
    background-color: powderblue;
    border-radius: 10%;
    border: inherit;
    color: white;
}

.tres{
    background-color: black;
    align-self: flex-end;
}